<section class="hero-section">

    <div class="overlay"></div>

    <div class="container hero-content">

        <div class="hero-text">
            <h1>
                Vive la naturaleza como nunca antes
            </h1>

            <p>
                Descubre la magia de Tenorio con tours guiados, transporte seguro y experiencias inolvidables.
            </p>

            <div class="hero-buttons">

                <button class="btn btn-success btn-lg rounded-pill px-4">
                    Reservar
                </button>

            </div>

        </div>

    </div>

</section>