<div class="login-page">
    <!-- Overlay oscuro -->
    <div class="login-overlay"></div>
    <!-- Card Login -->
    <div class="login-container">
        <!-- Logo -->
        <div class="text-center mb-4">
            <h2 class="login-title">Bienvenido</h2>
            <p class="login-subtitle">Tenorio Nature Center</p>
        </div>

        <!-- Alerts -->
        @if(status===0){
            <div class="alert alert-danger">
                Usuario y/o contraseña incorrecta
            </div>
        }@else if(status===1){
            <div class="alert alert-danger">
                Error inesperado del servidor
            </div>
        }

        <!-- Form -->
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <!-- Email -->
             <div class="mb-3">
                <label class="form-label">Correo</label>
                <input
                    type="email"
                    class="form-control custom-input"
                    name="email"
                    #email="ngModel"
                    [(ngModel)]="user.correo"
                    required
                >
            </div>

            <!-- Password -->
            <div class="mb-4">
                <label class="form-label">Contraseña</label>
                <input
                    type="password"
                    class="form-control custom-input"
                    name="password"
                    #password="ngModel"
                    [(ngModel)]="user.contrasena"
                    required
                >
            </div>

            <!-- Button -->
            <div class="d-grid">
                <button class="btn btn-success login-btn" type="submit">Iniciar sesión</button>
            </div>
            <div class="text-center mt-3">
                <a [routerLink]="['/register']" style="color:rgba(255,255,255,0.8)">
                    ¿No tenés cuenta? Registrate
                </a>
            </div>
        </form>
    </div>
</div>